<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.0.0" targetFramework="net40" />
  <package id="jQuery" version="2.1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net40" />
  <package id="Zen.Barcode.Core" version="1.0.0" targetFramework="net40" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net40" />
</packages>